.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: rgb(193, 193, 239);
}

body {
  padding-top: 70px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar a {
    margin: 0.5rem 0;
  }
}
